header {
    text-align: center;
    height: 75px;
    background-color: black;
    position: relative;
}

.header_text {
    color: gold;
    font-size: 70px;
    width: 160px;
    height: 75px;
    margin: auto;
    position: relative;
}

.logo1 {
    float: left;
    height: 75px;
    position: absolute;
    left: 10px;
    top: 0px

}

.logo2 {
    float: right;
    height: 75px;
    position: absolute;
    right: 10px;
    top: 0px
}

body {
    background-image: url("../images/background.png");
    background-size: 100%;
}

main {
    text-align: center;
}

#characters {
    padding: 10px 10px 0px 10px;
}

#defender {
    padding: 10px;
}

button {
    border-radius: 5px;
}

.character_pic {
    height: 150px;
    width: 250px;
}

.character_img {
    width: 100%;

    height: 100%;
} 

h2 {
    color: gold;
    font-size: 25px;
}

#gameplay-text {
    color: gold;
    font-size: 18px;
    padding: 10px;
}

.attack_button {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}